[submodule "AirbudsKit"]
	path = AirbudsKit
	url = git@github.com:cisumapp/AirbudsKit.git
[submodule "DistributeSDK"]
	path = DistributeSDK
	url = git@github.com:ProjectDistribute/DistributeSDK.git
[submodule "iTunesKit"]
	path = iTunesKit
	url = git@github.com:cisumapp/iTunesKit.git
[submodule "LyricsKit"]
	path = LyricsKit
	url = git@github.com:cisumapp/LyricsKit.git
[submodule "MonochromeSDK"]
	path = MonochromeSDK
	url = git@github.com:cisumapp/MonochromeSDK.git
[submodule "ProviderSDK"]
	path = ProviderSDK
	url = git@github.com:cisumapp/ProviderSDK.git
[submodule "RadioKit"]
	path = RadioKit
	url = git@github.com:cisumapp/RadioKit.git
[submodule "SpotifySDK"]
	path = SpotifySDK
	url = git@github.com:cisumapp/SpotifySDK.git
[submodule "YouTubeSDK"]
	path = YouTubeSDK
	url = git@github.com:cisumapp/YouTubeSDK.git
